
I am a fourth year PhD student at the University of Arizona.
My interests include data visualization and exploratory data analysis.  My advisor is
<a class="linkDark" href="https://cscheid.net">Dr. Carlos Scheidegger. </a>  I am currently a
<a class="linkDark" href="https://www.nist.gov/iaao/academic-affairs-office/nist-graduate-student-measurement-science-and-engineering-gmse" >NIST GMSE Fellow </a>
 working with <a  class="linkDark" href = "https://www.nist.gov/people/william-z-bernstein">Dr. William Bernstein </a> on
 research to help analysts better understand and debug their analysis programs using visualization.

<p class = "sectionBody">
 I recieved a B.S. in Computer Science and a B.A. in Mathematics with a concentration in statistics from the University of Montana.
</p>
