<h4>Rodger</h4>
<p>
  Rodger is my 3 year old Golden Retriever. I got him when I finished my undergraduate degree and had decided to move to Arizona.
  We moved here in 2016 and he's been my pal throughout my PhD. In order to not overwhelm my friends with pictures of Rodger, I started
  an <a href="https://www.instagram.com/goldenrodgerdodger2016/?hl=en" class="linkDark">Instagram</a> to relieve my need to share cute
  pictures of him.
</p>
<div class="demo">
  <div class="item">
    <ul id="content-slider" class="content-slider ">

    </ul>
  </div>

</div>

<h4>Yarn</h4>
<p>
  In my free time, I like to crochet and occasionally knit.  Below are some of the things I have made.

</p>

<div class="demo">
  <div class="item">
    <ul id="yarn-slider" class="content-slider ">

    </ul>
  </div>

</div>


<script>
  $(document).ready(function() {
    var nItem = parseInt(((screen.width*.85)*.75*.9)/266)

    if (nItem <1){
      nItem = 1;
    }

    $("#content-slider").lightSlider({
           loop:true,
           keyPress:true,
           item: nItem
       });
       $("#yarn-slider").lightSlider({
              loop:true,
              keyPress:true,
              item: nItem
          });

  });
  images.rodgerImageNames.forEach(function(d){

    $("#content-slider").append("<li data-thumb=\"/assets/images/rodger/"+d.name+".jpg\"><div><img src=\"/assets/images/rodger/"+d.name+".jpg \"/></div></li>")

  })
  images.yarnImageNames.forEach(function(d){

    $("#yarn-slider").append("<li data-thumb=\"/assets/images/yarn/"+d.name+".jpg\"><div><img src=\"/assets/images/yarn/"+d.name+".jpg \"/></div></li>")

  })
</script>
