
<ul>
	<li class="projectList">
		DimReader: Axis lines that explain non-linear projections
		[<a class="linkDark" href="https://arxiv.org/pdf/1710.00992.pdf">PDF</a>][<a class="linkDark" href="https://github.com/rjfaust/DimReader">Github</a>]
		<br/>
		<p class = "projDesc" style="padding-left:30px">
		DimReader is a technique that recovers readable axes from dimensionality reduction techniques.
		It analyzes inﬁnitesimal perturbations of the dataset with respect to variables of interest.
		The recovered axes are in direct analogy with the axis lines (grid lines) of traditional
		scatterplots. DimReader also provides methods for discovering the perturbations on the input data that change the projection the most.

		</p>
		<br/>
	</li>
	<li class="projectList">
		Anteater: Interactive Visualization for Program Understanding [<a class="linkDark" href="https://arxiv.org/pdf/1907.02872.pdf">PDF</a>]
		<br/>
		<p class = "projDesc" style="padding-left:30px">
		Anteater is an interactive visualization system for tracing and exploring the execution of a program. It alleviates the burden of
		manual instrumentation by automatically instrumenting source code to track the values that the user desires to inspect, along with
		the execution trace.  Anteater presents the trace to users through various visualizations.
		 </p>
		 <br/>
	 </li>
</ul>
