<div class="center smallpage" >
  <div class="topImage textBackground ">
    <div  style="z-index:1;width: 100px; max-width:20%;float:left; ">
      <img   class="center"  style="width:100%; height:auto; margin-top:5px" alt="Avatar" src="/assets/images/rfaustSquare.jpg">
    </div>
    <div   style = "padding-left:10px; float:left; max-width:60%; width:auto;" >
      <p>
        <a class="linkDark" href="https://www.cs.arizona.edu"> Department of Computer Science </a>
        <br/>
        <a class="linkDark" href="http://www.arizona.edu"> University of Arizona </a>
        <br/>
        [<a class="linkDark" href="cv.pdf">CV</a>]
      </p>


    </div>
    <div class="social-icons" style="top:0; float: right;">
      <a href="mailto:rjfaust@email.arizona.edu" >
        <i class="fa fa-envelope" ></i>
      </a>
    </div>
    <div class="social-icons" style="float: right;">
      <a  href="https://www.linkedin.com/in/rebecca-faust-1a89b7161/">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <div class="social-icons" style="float: right;">
      <a href="https://github.com/rjfaust">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <br/>
  </div>
</div>
