.contextMenu
{
    width: 150px;
    height: 50px;
    background-color: #f2f2f2;
    z-index: 999;
    position:absolute;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-widget-header,.ui-state-default, ui-button {
    background:#4CAF50;
    border: 1px solid #b9cd6d;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-dialog .ui-widget-content{
    background: #f2f2f2;
}
.ui-widget .ui-front{
    background: #f2f2f2;
}
.dialog_text{
    width:100%
}

.navButton{
  cursor: pointer
}

.navButton:hover{
  background-color: #e6f3ff
}
