<!doctype html>
<html>
<head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141790565-1');
  </script> -->

  <body id="page-top" >
    <div class="container-fluid">
      <div class = "row">
        <div id="content">
          <div class="container-fluid" style="height:100%;width:100%">
              <div class="textBackground classPage" style="width:100%;height:100%;">
                <div >
                    {{ content }}
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
