<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body id="page-top" >
        <div id="content">
          <div class="container-fluid" style="height:100%;width:100%">
            <div class="projectPage ">
								<div class="projectTextBackground">
									<div class="row " >

										<div class ="col-md-1">

										</div>
										<div class ="col-md-9 ">
											<h1 class="bold" align="left">{{page.title}}</h1>
										</div>
									</div>
									<div class="row ">
										<div class ="col-md-1">
										</div>

										<div class ="col-md-9 " style="font-size:13px;  margin:0">
											<p class="post-meta">
												Authors:
                        {% for auth in page.authors %}
                          <a class="linkDark" href="{{auth.auth[1].link}}">{{auth.auth[0].name}}</a>
                        {% endfor %}
                        <br/>
                        <!-- <a class="linkDark" href="https://rjfaust.github.io/">Rebecca Faust</a>,
												<a class="linkDark" href="http://math.arizona.edu/~glickenstein/">David Glickenstein</a>, <a class="linkDark" href="https://cscheid.net">Carlos Scheidegger</a><br/> -->
												{{page.journal}}
												<br/>
												{{page.conference}}</p>
										</div>
									</div>

									<div class="row ">
										<div class="col-md-1">
										</div>

										<div class="col-md-3 " style="padding-left:8px">
											<span class="meta" style="float:left; margin-top:20px">
												<img src="{{page.image}}" alt="{{page.image_alt}}">
											</span>

										</div>
                    <div class="col-md-1">
										</div>
										<div class="col-md-6" style="float:right;">
											{{content}}
											<p><a class="linkDark" href="{{page.pdf}}">PDF</a>, <a class="linkDark" href="{{page.DOI}}">DOI link </a>,
											<a class="linkDark" href="{{page.arxiv}}">Arxiv</a>.</p>
										</div>
									</div>
								</div>
							</div>

          </div>
        </div>
  {% include scripts.html %}
  </body>
</html>
